.sidebar-wrapper-blog {
    z-index: 900;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background: #EAAC3B;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search-bar {
    width: 92%;
    height:35px;
    border-radius: 5px;
    margin:20px 0px 50px 12px;
    border-style: none;
    padding:0px 50px 0px 10px;
}

.search-icon { 
    margin-left:-40px;
}

.search {
    background: none;
    margin-left:-35px;
    border: none;
    color:rgba(255, 255, 255, 0);
}

.alert-box {
    background-color: #5FD7C7;
    padding: 5px 20px 5px 20px;
    margin-right:50px;
    border-radius: 5px;
    color:#fff;
    margin-top: 30px;
    text-align: center;
}

.alert-box a{
    color:#333;
}

.alert-box a:hover{
    color:#fff;
    text-decoration: none;
}

.blog-box {
    height:200px;
    width: 40%;
    border-color: #333;
    border: 2px;
    background-color: rgba(245, 242, 242, 0.5);
    margin:50px 40px 10px 20px;
    color:#333;
}

#blog-txt a{
    color:#333;
}

#blog-txt a:hover{
    color:#333;
    text-decoration: none;
    margin-top: 20px;
}

.blog-box-delete {
    height:200px;
    width: 40%;
    border-color: #333;
    border: 2px;
    background-color: rgba(245, 242, 242, 0.5);
    margin:250px -400px 10px 20px;
    color:#333;
}