$background-color: #d9d9d9;
$dark-background-color: #333333;

.main-wrapper {
    background-color: $background-color;
}

.txt-center {
    text-align: center;
}

.heading-txt {
    font-size: 6em;
    font-weight: 100;
    margin-top: 1.6em;
    margin-bottom:0.5em;
}

.sub-txt {
    font-size: 1.5em;
    font-weight: 100;
    text-align: right;
}

.sub-txt-style2 {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.sub-txt-p {
    font-size: 1.2em;
    font-weight: 100;
    color:#D9D9D9;
    text-align: center;
//    margin:40px 15px 0px 15px;
}

.default-p {
    font-size: 1em;
    font-weight: 100;
    color:#646464;
    text-align: left;
//    margin:40px 15px 0px 15px;
}

.submit-btn {
    width:100%;
    background-color: $dark-background-color;
    color: $background-color;
}

.submit-btn:hover {
    width:100%;
    background-color: #FFC24B;
    color: $dark-background-color;
}

.profile-btn {
    width:100%;
    background-color: $dark-background-color;
    color: $background-color;
     padding:15px;
}

.profile-btn:hover {
    width:100%;
    background-color: #E54047;
    color: #fff;
    padding:15px;
}

.error-txt {
    text-align:center; 
    color:#DD3547; 
    font-weight:300;
}

.icons:hover{
    color:#fff;
}

.icons{
    color:#333333;
}

.icons-active{
    color:#fff;
}