#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 110px;
    width: 0;
    height: 100%;
    margin-left: -110px;
    overflow-y: auto;
    background: #333333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

        
#sidebar-wrapper-two {
    z-index: 900;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background: #E54047;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper-two-yellow {
    z-index: 900;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background: #EAAC3B;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 110px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

/*
.sidebar-nav li a:hover {
    text-decoration: none;
    color: red;
    background: rgba(255,255,255,0.2);
}
*/
/*

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
*/
/*

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
*/

/*
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/

@media(min-width:768px) {
    #wrapper {
        padding-left: 210px;
    }


    #sidebar-wrapper {
        width: 110px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

}
             
.sidebar-nav-two {
    position: absolute;
    top: 0;
    width: 110px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-two li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav-two li a {
    display: block;
    text-decoration: none;
    color: #000;
}

/*
.sidebar-nav li a:hover {
    text-decoration: none;
    color: red;
    background: rgba(255,255,255,0.2);
}
*/
/*

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
*/
/*

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
*/

/*
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/

@media(min-width:768px) {
    #wrapper-twp {
        padding-left: 210px;
    }


    #sidebar-wrapper-two {
        width: 220px;
    }

    #page-content-wrapper-two {
        padding: 20px;
        position: relative;
    }

}        

.hr-white {
    width: 83%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color:#212020;
    color:#212020;
    border: 0 none;
}

.hr-long {
    width: 100%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    color:#fff;
    border: 0 none;
    margin-left: -20px;
}

.img-logo-profile {
    width:50px; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top:20px;
}


.img-logo-profile-pic {
    width:200px; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top:200px;
}

.verticalLine {
    border-left: thin solid #D9D9D9;
    height: 370px;
    margin-left: 55px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

a:hover {
    text-decoration: none;
}

.edit-btn{
    color:#fff;
    margin-left: 20px; 
    margin-top: 15px;   
}

.circle {
    border-radius: 50%;
	width: 50px;
	height: 50px;
    background-color: #212020;
    margin-left:56%;
    margin-bottom: -248px;
}

.circle:hover {
    border-radius: 50%;
	width: 50px;
	height: 50px;
    background-color: #E54047;
    margin-left:56%;
    margin-bottom: -248px;
}

ul li{
    text-decoration: none;
    display:inline-block;
    display: block;
    margin-left: auto; 
    margin-right: auto;  
}

li {
    text-decoration: none;
    display:inline-block;
    text-align: center;
}